/* Import Google Font at the top */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #EAE5E3;
  font-family: 'Cormorant Garamond', helvetica neue, sans-serif;
}

#main {
  display: flex;
  justify-content: start;
  align-items: start;
  height: 100vh;
  width: 100%;
  overflow: auto; /* scroll if needed */
}

#grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: min(99vmin, 100%);
  height: min(99vmin, 100%);
  background: #EAE5E3;
  border: 1px solid #363636;
  overflow: auto;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #363636;
  cursor: pointer;
  user-select: none; /* prevent text selection while dragging */
  font-size: 2.5vmin;
}

.box.highlight {
  background: #363636;
  color: #EAE5E3;
}

.box.found {
  background: #363636 !important;
  color: #EAE5E3 !important;
}
